<header class="navbar navbar-expand-md navbar-light bg-light bg-gradient border-bottom">
  <div class="container-fluid">
    <img class="image" src="/assets/images/a.jpg" alt="image">

    <a class="navbar-brand">Caian S. Gerolamo | Botanist</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" >Papers</a>
        <a class="nav-link" >Projects</a>
        <a class="nav-link" >About</a>
        <a class="nav-link" >CV</a>
      </ul>
    </div>
  </div>
</header>